.card {
  float: left;
  width: 100px;
  border-radius: 5px;
  /*height: 140px;*/
  margin-right:25px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}

body {
  background-color:#7094B8;
}
